Application Data/
Cookies/
Application Data/
Cookies/
Local Settings/
My Documents/
NetHood/
PrintHood/
Recent/
SendTo/
Templates/
「開始」功能表/
.bash_history
.gitconfig
.lesshst
.ssh/
AppData/
Apple/
NTUSER.DAT*
ntuser.dat*
ntuser.ini
OneDrive/
S__*.jpg
*.exe
